<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="string_connection" connectionString="It1GdjHQrwK+h66OWS4Kv8SlA2mzjJnSeb+3FhPwwZwPOyHQvJstDBIOu4NkXe1QdOh6sC1HEvYXQVnlO1PyNWHwOa2BKUBToGEz5LoR4IXiTHMXHmg+XqjgBOA7sxmqjSHJhsDEJCvxvry5vqlAhA==" providerName="System.Data.AseClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="parametros.asmx" />
            </files>
        </defaultDocument>
    </system.webServer>
  
</configuration>